/* Reset default styles and set up styles for the headline */
h1 {
    font-size: 3.5em;
    margin: 1px;
    margin-top: -50px;
    padding: 10px; 
}

/* Reset default styles and set up the base styles for the body */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #3498db; 
}

/* Dark mode styles */
.dark-mode {
    background-color: #2c3e50; 
    color: #ecf0f1;
}

.dark-mode #board {
    background-color: #000; 
}


.dark-mode .cell {
    background-color: #333; 
    border: 2px solid #ecf0f1;
}

.dark-mode button {
    background-color: #555; 
    color: #ecf0f1; 
}

.dark-mode button:hover {
    background-color: #777; 
}

/* Styles for the game board */
#board {
    display: grid;
    grid-template-columns: repeat(7, 80px);
    grid-gap: 10px;
    background-color: #ecf0f1; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

/* Styles for each cell in the game board */
.cell {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
    background-color: #ecf0f1; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
}

/* Hover effect for each cell */
.cell:hover {
    background-color: #bdc3c7; 
}

/* Additional overlay effect on hover */
.cell:hover::after {
    content: '';
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7); 
    position: absolute;
}

/* Header styles */
#header {
    margin-bottom: 20px;
    text-align: center;
}

/* Button styles */
button {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    background-color: #2ecc71; 
    color: #ffffff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
}

/* Hover effect for buttons */
button:hover {
    background-color: #27ae60; 
}

/*
Disc styles for players (red and yellow)
.red-disc,
.yellow-disc {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 2px;
    position: relative;
    bottom: -5px; 
}

/ * Styles for the red player's disc * /
.red-disc {
    background-color: #fb2e17;
}

/ * Styles for the yellow player's disc * /
.yellow-disc {
    background-color: hsl(74, 100%, 53%);
}
*/